<div class="d-flex flex-column" [formGroup]="formGroup">
  <h5 class="title">{{detail ? 'Edit' : 'Add'}} Period</h5>
  <div class="d-flex flex-column">
    <div class="d-flex">
      <span class="pt-3 form-label">From: </span>
      <mat-form-field appearance="outline" >
        <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker" [min]="minFromDate" [max]="maxFromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.fromDate.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex">
      <span class="pt-3 form-label">To: </span>
      <mat-form-field appearance="outline">
        <input matInput formControlName="toDate" [matDatepicker]="toDatePicker" [min]="minToDate" [max]="maxToDate">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.toDate.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex">
      <span class="form-label">Min price: </span>
      <mat-form-field appearance="outline" class="text-input">
        <input matInput formControlName="minPrice" type="number"/>
        <mat-error *ngIf="formGroup.controls.minPrice.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="formGroup.controls.minPrice.hasError('number')">
          The value should be larger than 0.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex mt-2 justify-content-end">
      <button type="button" class="btn btn-primary w-20 mr-2" (click)="save()" [disabled]="!formGroup.valid">OK</button>
      <button (click)="close(false)" type="button" class="btn btn-outline-dark w-20 ml-3">Cancel</button>
  </div>
</div>