<h1>Change log</h1>
<h3>Version 0.1.19</h3>
<ul>
  <li>Grace period filter settings page was added</li>
  <li>Widgets management pages are implemented</li>
</ul>
<h3>Version 0.1.18</h3>
<ul>
  <li>Min price filter settings page was added</li>
</ul>
<h3>Version 0.1.17</h3>
<ul>
  <li>A bug was fixed with saving a page as a draft</li>
</ul>
<h3>Version 0.1.16</h3>
<ul>
  <li>Dark editor theme was applied to the blog posts</li>
  <li>Images are fixed in the blog post editor</li>
  <li>Paging fixes on the blog post list</li>
</ul>
<h3>Version 0.1.15</h3>
<ul>
  <li>Synchronization for the privacy policy to the public site was added</li>
  <li>Images on the pages are compressed when they are too big</li>
  <li>Images are excluded from the Google translate requests</li>
</ul>
<h3>Version 0.1.14</h3>
<ul>
  <li>Numerous bugfixes in the frontend</li>
  <li>Min and max driver age sync from Jimpi was added</li>
  <li>Ability to clear search on the lists</li>
  <li>Webp image format supported</li>
</ul>
<h3>Version 0.1.13</h3>
<ul>
  <li>Bugfixes</li>
  <li>Toolbar is sticked to the top of the screen in content editor for the long pages</li>
</ul>
<h3>Version 0.1.12</h3>
<ul>
  <li>White label pages introduced</li>
  <li>Home page and About us page were added for white label</li>
  <li>Filtering by franchisee was added into page list</li>
  <li>Synchronization of About us page to the public site was implemented</li>
  <li>More informative error messages were added into the Excel generation</li>
</ul>
<h3>Version 0.1.11</h3>
<ul>
  <li>A bug was fixed on the country details page when searching in the group dropdown</li>
  <li>Excel generation fixes and optimization</li>
  <li>Fixes in the blog post editing</li>
</ul>
<h3>Version 0.1.10</h3>
<ul>
  <li>Country image synchronizer to the public site is implemented</li>
  <li>Saving pages as draft was implemented</li>
</ul>
<h3>Version 0.1.9</h3>
<ul>
  <li>FAQ synchronizer to the public site is implemented</li>
  <li>Blog synchronizer to the public site is implemented</li>
  <li>Bugfixes on the page settings component</li>
  <li>Interpreter link creation is implemented for pages and for labels</li>
  <li>Google translation is enabled for the pages</li>
</ul>
<h3>Version 0.1.8</h3>
<ul>
  <li>All content synchronizers with the old site are enabled now</li>
  <li>Backend for the interpretor side of labels is implemented</li>
  <li>Backend for the page translator links is implemented</li>
  <li>A change in the vehicle search allowing to use any part of the word</li>
  <li>Label translator links creation is implemented</li>
</ul>
<h3>Version 0.1.7</h3>
<ul>
  <li>Country list was removed</li>
  <li>Content management menu was well tuned</li>
</ul>
<h3>Version 0.1.6</h3>
<ul>
  <li>Franchisee list was reworked</li>
  <li>Checkboxes implemented on the translation list for sending to interpreter</li>
  <li>Blog post list and edit were implemented</li>
</ul>
<h3>Version 0.1.5</h3>
<ul>
  <li>Locations were removed from franchisee details page</li>
  <li>Country excel generation is now done with the spinner</li>
  <li>Country settings fields are now properly saved and synchronized to the old public site</li>
  <li>Terms and conditions are better formatted in the generated country excel</li>
</ul>
<h3>Version 0.1.4</h3>
<ul>
  <li>Country image and return location headings fix</li>
  <li>Search is added into translations list</li>
</ul>
<h3>Version 0.1.3</h3>
<ul>
  <li>Country - car group deposit is now synchronized to the public site</li>
  <li>Headings are properly done for most of the list and detail pages</li>
  <li>Generic pages are created for country-specific pages</li>
  <li>404 bug fixed on saving country-specific pages</li>
</ul>
<h3>Version 0.1.2</h3>
<ul>
  <li>Improvements and fixes in the Excel generation</li>
  <li>Improvements and fixes in the translations editor</li>
</ul>
<h3>Version 0.1.1</h3>
<ul>
  <li>Excel export is functional</li>
  <li>Improvements and bugfixes in location sync with the old public site</li>
  <li>Search by country on the location list is fixed</li>
</ul>
<h3>Version 0.1.0</h3>
<ul>
  <li>Admin on UAT environment was connected to the prod website</li>
  <li>Editing of some fields of location was enabled</li>
  <li>Vehicles, vehicle images, locations synchronization with old site was implemented</li>
  <li>Various improvements were applied to the franchisee section</li>
</ul>
<h3>Version 0.0.16</h3>
<ul>
  <li>List styles cleaned up and unified</li>
  <li>Dashboard frontend created</li>
  <li>Alternate return locations are populated</li>
  <li>Alternate return locatoins are synchronized from the old site</li>
  <li>Translations page added</li>
  <li>Filtering is implemented for countries and franchisees</li>
  <li>More fields are populated on counry and location lists</li>
  <li>Delete functionality was implemented on metatags grid</li>
</ul>
<h3>Version 0.0.15</h3>
<ul>
  <li>Google translate was enabled for pages</li>
  <li>Content management menu structure was created</li>
  <li>Right bar was implemented for the page editor</li>
  <li>Validation was applied on country car categories</li>
  <li>Dialog was added on country image removal</li>
</ul>
<h3>Version 0.0.14</h3>
<ul>
  <li>Country categories edit was implemented</li>
  <li>Test endpoint for exporting hardcoded excel was added</li>
  <li>Allowed countries implemented</li>
  <li>Country image import from the prod site</li>
  <li>Car image import from the prod site</li>
  <li>Location vehicle import from the prod site</li>
  <li>Allowed countries import from the prod site</li>
</ul>
<h3>Version 0.0.13</h3>
<ul>
  <li>Country details screen was implemented</li>
  <li>Location vehicles backend was added</li>
  <li>Country vehicle categories change tracking was added</li>
</ul>
<h3>Version 0.0.12</h3>
<ul>
  <li>Country images screen was implemented</li>
  <li>Location vehicles frontend was added</li>
</ul>
<h3>Version 0.0.11</h3>
<ul>
  <li>Country details backend was added</li>
</ul>
<h3>Version 0.0.10</h3>
<ul>
  <li>Vehicle creation and edit are fully functional now</li>
  <li>Vehicle images page is fully functional</li>
  <li>Read only location details page is fully functional</li>
  <li>Frontend for alternative return locations is created</li>
</ul>
<h3>Version 0.0.9</h3>
<ul>
  <li>Category multiselect dropdown was fixed on the vehicle details</li>
  <li>Toolbar is shown correctly on the page editor</li>
  <li>Small screen resolutions are now supported</li>
  <li>Filtering on vehicle list is functional now</li>
  <li>Automated breadcrumb is created</li>
  <li>Infrastructure for location-vehicle categories screen is created with test data</li>
</ul>
<h3>Version 0.0.8</h3>
<ul>
  <li>Category column is now showing actual car categories on the vehicle list</li>
  <li>Vehicle importer from the old site is created</li>
  <li>Layout of the vehicle details page is imroved</li>
</ul>
<h3>Version 0.0.7</h3>
<ul>
  <li>Translation settings frontend was implemented</li>
  <li>Backend for vehicle categories in vehicle details was added</li>
  <li>Filter on vehicle list was implemented</li>
</ul>
<h3>Version 0.0.6</h3>
<ul>
  <li>Synchronization was added to the old site for location content, terms and conditions, important information, conditions</li>
</ul>
<h3>Version 0.0.5</h3>
<ul>
  <li>Text importers were created from the old site for location content, terms and conditions, important information, conditions</li>
  <li>Country-related page editors were adeded for location content, terms and conditions, important information, conditions</li>
  <li>For location content the editor authomatically switches to the dark mode</li>
</ul>
<h3>Version 0.0.4</h3>
<ul>
  <li>Language dropdown was moved outside of the page editor to the right panel</li>
  <li>Franchisee, Country, Location synchronization was added. Golden source is Franchisee Module</li>
  <li>Franchisee list is showing real data from the database</li>
  <li>Location list is showing real data from the database</li>
  <li>Country list is showing real data from the database</li>
  <li>Advanced navigation config was introduced</li>
</ul>
<h3>Version 0.0.3</h3>
<ul>
  <li>Page content editor was added</li>
</ul>
<h3>Version 0.0.2</h3>
<ul>
  <li>Page meta tags and title management was added</li>
</ul>
<h3>Version 0.0.1</h3>
<ul>
  <li>Initial creation</li>
</ul>
