<!-- UI for FranchiseListComponent

 Initially powered by Stantum Angular Utils.
 Want to dramatically increase your development speed too? Visit https://www.stantum.cz/development-automation -->
<!-- <div>
  <a routerLink="/users/page" [routerLinkActive]="['router-link-active']">
    <span style="font-weight:700">Users </span>
  </a>
</div> -->
<h4>Users</h4>
<br />
<app-user-search></app-user-search>
<div class="list-wrapper">
  <div class="list-info">
    <div *ngIf="!pageWrapper || pageWrapper.totalCount < 1">
      Empty list
    </div>
    <div *ngIf="pageWrapper && pageWrapper.totalCount > 0">
      Total items: {{pageWrapper.totalCount}}&nbsp;Current page: {{pageWrapper.currentPage}}
    </div>
  </div>
  <nav *ngIf="pager.pages && pager.pages.length && pager.pages.length > 1" aria-label="Franchises page navigation bottom">
    <ul class="pagination" >
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" [routerLink]="['/users/page', (pager.currentPage - 1)]" [queryParams]="{searchText: queryParams}"><i class="fas fa-long-arrow-alt-left"></i></a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" [routerLink]="['/users/page', page]" [queryParams]="{searchText: queryParams}">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" [routerLink]="['/users/page', (pager.currentPage + 1)]" [queryParams]="{searchText: queryParams}"><i class="fas fa-long-arrow-alt-right"></i></a>
      </li>
    </ul>
  </nav>
</div>
<div class="table-responsive mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Country</th>
        <th class="text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <!-- <td><a [routerLink]="['/franchisees', item.uid]">{{item.first_name}}</a></td>
        <td><a [routerLink]="['/franchisees', item.uid]">{{item.last_name}}</a></td> -->
        <td *ngIf="item.userState != 1; else active" colspan="2">{{item.userState | userStatesEnumTranslate}}</td>
        <td>{{item.email}}</td>
        <td>{{item.roleName}}</td>
        <td>{{item.country}}</td>
        <td class="text-right">
          <a *ngIf="item.userState == 1" [routerLink]="" class="link-default" (click)="deactivateUser(item)" title="User deactivate"><i class="fas fa-user-minus link-remove"></i></a>
          <a *ngIf="item.userState == 2" [routerLink]="" class="link-default" (click)="activateUser(item)" title="User activate"><i class="fas fa-user-plus link-add"></i></a>
          <a *ngIf="item.userState > 0" [routerLink]="['/users', item.uid]" class="link-default" title="Edit"><i class="far fa-edit link-add"></i></a>
          <a *ngIf="item.userState == 0" [routerLink]="" class="link-default" (click)="resendInvitation(item.uid)" title="Resend Invitation"><i class="fas fa-redo link-add"></i></a>
          <a [routerLink]="" class="link-remove" (click)="deleteUserProfile(item)" title="Remove"><i class="far fa-trash-alt link-remove"></i></a>
        </td>
        <ng-template #active>
          <td *ngIf="item.userState==1">{{item.firstName}}</td>
          <td *ngIf="item.userState==1">{{item.lastName}}</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div class="list-wrapper">
    <div class="list-info">
      <div *ngIf="pageWrapper && pageWrapper.totalCount > 0">
        Total items: {{pageWrapper.totalCount}}&nbsp;Current page: {{pageWrapper.currentPage}}
      </div>
    </div>
      <nav *ngIf="pager.pages && pager.pages.length && pager.pages.length > 1" aria-label="Franchises page navigation bottom">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" [routerLink]="['/users/page', (pager.currentPage - 1)]" [queryParams]="{searchText: queryParams}"><i class="fas fa-long-arrow-alt-left"></i></a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a class="page-link" [routerLink]="['/users/page', page]" [queryParams]="{searchText: queryParams}">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" [routerLink]="['/users/page', (pager.currentPage + 1)]" [queryParams]="{searchText: queryParams}"><i class="fas fa-long-arrow-alt-right"></i></a>
          </li>
        </ul>
      </nav>
  </div>
  
</div>
<br />
