<!-- UI for UserSetPasswordComponent
 Initially powered by Stantum Angular Utils.
 Want to dramatically increase your development speed too? Visit https://www.stantum.cz/development-automation -->
<div>
  <form class="needs-validation" novalidate [formGroup]="formGroup">
    <div class="row">
      <div class="form-group col">
        <label for="newPassword">New password</label>
        <input class="form-control"
               type="password" formControlName="newPassword"
               id="newPassword" placeholder=""
               maxlength="50"
               [ngClass]="{ 'is-invalid': fields.newPassword.touched && fields.newPassword.errors, 'is-valid': fields.newPassword.touched && !fields.newPassword.errors }"/>
        <div *ngIf="fields.newPassword.errors" class="invalid-feedback">
          <div *ngIf="fields.newPassword.errors.required && fields.newPassword.touched">New password is required.</div>
          <div *ngIf="fields.newPassword.errors.pattern && fields.newPassword.touched">New password is invalid.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="confirmPassword">Confirm password</label>
        <input class="form-control"
               type="password"
               formControlName="confirmPassword"
               id="confirmPassword" placeholder=""
               maxlength="50"
               [ngClass]="{ 'is-invalid': fields.confirmPassword.touched && fields.confirmPassword.errors, 'is-valid': fields.confirmPassword.touched && !fields.confirmPassword.errors }"/>
        <div *ngIf="fields.confirmPassword.errors " class="invalid-feedback">
          <div *ngIf="fields.confirmPassword.errors.notSame && fields.confirmPassword.touched">Password mismatch.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
        <label>Your password is:</label>
        <input class="form-control"
               type="text"
               placeholder=""
               maxlength="50"
               formControlName="userPassword"
               disabled/>
      </div>
      <div class="col-12 mb-3">
        <button class="btn btn-outline-dark btn-sm" (click)="copyPassword()" [disabled]="!formGroup.value['newPassword']">
          Copy
          password to clipboard
        </button>
      </div>
    </div>

  </form>


  <h6>Password must contain</h6>
  <ul>
    <li>At least one letter</li>
    <li>At least one uppercase letter</li>
    <li>At least one digit number</li>
    <li>At least one special character: _#$^+=!*()@%&</li>
  </ul>
  <div class="row">
    <div class="col-4"><h6>Need a strong password ?</h6></div>
    <div class="col-2">
      <button class="btn btn-outline-dark" (click)="generatePassword()">Generate</button>
    </div>
  </div>
  <h3>{{randomPassword}}</h3>
</div>
