<h4>Settings</h4>
<div class="container">
    <div class="row justify-content-center flex-wrap">
        <div class="col-md-4 col-sm-6 col-sx-1 text-center mt-5">
            <a routerLink="/settings/translation-settings">
                <div class="card text-dark bg-transparent mb-3">
                    <h5 class="card-header">Translation Settings</h5>
                    <div class="card-body">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-sx-1 text-center mt-5">
            <a routerLink="/settings/min-price-filter">
                <div class="card text-dark bg-transparent mb-3">
                    <h5 class="card-header">Min price filter</h5>
                    <div class="card-body">
                        <i class="fas fa-filter"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-sx-1 text-center mt-5">
            <a routerLink="/settings/grace-period-filter">
                <div class="card text-dark bg-transparent mb-3">
                    <h5 class="card-header">Grace Period filter</h5>
                    <div class="card-body">
                        <i class="fas fa-adjust"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>