<div >
  <div class="home-wrapper" style="">
    <p class="home-subtitle">Welcome to addCar Website Admin</p>
    <h1 class="home-title"><b>addCar</b> Website Admin</h1>
    <div class="box_inner">
      <div class="box"><a routerLink="/content-management">Go to CMS</a></div>
      <div class="box"><a routerLink="/franchisees">Go to Franchisees</a></div>
      <div class="box"><a routerLink="/vehicles">Go to Vehicles</a></div>
      <div class="box"><a routerLink="/settings">Go to Settings</a></div>

    </div>

  </div>
</div>



