<!-- UI for UserChangePasswordComponent

 Initially powered by Stantum Angular Utils.
 Want to dramatically increase your development speed too? Visit https://www.stantum.cz/development-automation -->

<mat-card class="example-card" style="height: 560px; max-width: 300px">
  <mat-card-title>Change password</mat-card-title>
  <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="changePassword()">
    <mat-card-content>
      <div class="row">
        <div class="form-group col ">
          <label for="currentPassword">Current password</label>
          <input class="form-control" type="password" formControlName="currentPassword" 
                 placeholder=""
                 maxlength="50"
                 [ngClass]="{ 'is-invalid': fields.currentPassword.errors }"
          />
          <div class="invalid-feedback">
            <div>Current password is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col ">
          <label for="newPassword">New password</label>
          <input class="form-control" type="text" formControlName="newPassword"  placeholder=""
                 maxlength="50"
                 [ngClass]="{ 'is-invalid':  fields.newPassword.errors }"
          />
          <div class="invalid-feedback">
            <div>New password is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="confirmPassword">Confirm new password</label>
          <input class="form-control" type="text" formControlName="confirmPassword" 
                 placeholder="" maxlength="50"
                 [ngClass]="{ 'is-invalid': fields.confirmPassword.errors }"
          />
          <div class="invalid-feedback">
            <div>Confirm password is not match.</div>
            <div *ngIf="fields.confirmPassword.value === ''">Confirm password is required.</div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="text-center">
      <button type="submit" class="btn btn-primary mr-3" [disabled]="formGroup.invalid">
        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Submit
      </button>
      <button (click)="close(false)" type="button" class="btn btn-outline-dark">Cancel</button>
    </mat-card-actions>
  </form>
  <mat-card-actions class="text-center">
    <button type="submit" class="btn btn-info" (click)="generatePassword()">
      Generate password
    </button>
  </mat-card-actions>
</mat-card>
