<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card ">
      <div class="card-header heading_weight">
        Sales Statistics
        <div style="float:right">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Last 7 Days
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">1 Month</button>
              <button class="dropdown-item" type="button">3 Months</button>
              <button class="dropdown-item" type="button">1 Year</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body scroll">
        <div style="display: block;">
          <app-areachart></app-areachart>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header heading_weight">
        Visitors Statistics
        <div style="float:right">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Last 7 Days
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">1 Month</button>
              <button class="dropdown-item" type="button">3 Months</button>
              <button class="dropdown-item" type="button">1 Year</button>
            </div>
          </div>
        </div>

      </div>

      <div class="card-body scroll">
        <div style="display: block;">
          <app-linechart></app-linechart>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card ">
      <div class="card-header heading_weight">
        Reservations by Country
        <div style="float:right">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Last 7 Days
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">1 Month</button>
              <button class="dropdown-item" type="button">3 Months</button>
              <button class="dropdown-item" type="button">1 Year</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body scroll">
        <div >
          <app-barchart></app-barchart>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="card" style="height:350px ">
      <div class="card-header heading_weight">
        Notifications
        <div style="float:right">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Last 7 Days
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">1 Month</button>
              <button class="dropdown-item" type="button">3 Months</button>
              <button class="dropdown-item" type="button">1 Year</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" >
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>Incomplete Locations</th>
              <td><a>9</a></td>

            </tr>
            <tr>
              <th>Vehicles without Images</th>
              <td><a>30</a></td>

            </tr>
            <tr>
              <th>Pages without Transalations</th>
              <td><a>23</a></td>
            </tr>
            <tr>
              <th>Posts without Transalations</th>
              <td><a>98</a></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>

  </div>
</div>
